<h1 class="text-center">도서목록
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">
    도서 추가
  </button>
</h1>



<div class="accordion" id="accordionExample">
  <% for(var i =0; i< data.length; i++){ %>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%=data[i].idx%>"
          aria-expanded="true" aria-controls="collapseOne">
          <%=data[i].namebook%>

        </button>
      </h2>
    </div>

    <div id="collapse<%=data[i].idx%>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row text-center">
          <div class="col">
            <%=data[i].namebook%>
          </div>
          <div class="col">
            <%=data[i].bookQty%>
          </div>
          <div class="col">
            <%=data[i].price%>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modify<%=data[i].idx%>">
              수정
            </button>
          </div>
          <div class="col">
            
            <a href="/books/remove/<%=data[i].idx%>" class="btn btn-danger">삭제</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modify<%=data[i].idx%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">도서추가</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/books/modify" method="POST">
            <input type="hidden" name="idx" value="<%=data[i].idx%>">
            <div class="form-group">
              <label for="namebook">도서명</label>
              <input type="text" name="namebook" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="도서명" value="<%=data[i].namebook%>">

            </div>
            <div class="form-group">
              <label for="bookQty">재고량</label>
              <input type="text" name="bookQty" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="재고량" value="<%=data[i].bookQty%>">

            </div>
            <div class="form-group">
              <label for="price">가격</label>
              <input type="text" name="price" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="가격" value="<%=data[i].price%>">

            </div>
            <div class="form-group">
              <label for="booksimg">사진주소</label>
              <input type="text" name="booksimg" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="사진주소">

            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


  <% } %>
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">도서추가</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/books/addBook" method="POST">
          <div class="form-group">
            <label for="namebook">도서명</label>
            <input type="text" name="namebook" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="도서명">

          </div>
          <div class="form-group">
            <label for="bookQty">재고량</label>
            <input type="text" name="bookQty" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="재고량">

          </div>
          <div class="form-group">
            <label for="price">가격</label>
            <input type="text" name="price" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="가격">

          </div>
          <div class="form-group">
            <label for="booksimg">사진주소</label>
            <input type="text" name="booksimg" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="사진주소">

          </div>



          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
